* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:'Open Sans', sans-serif;
}

body{
    background-color:#eee;
    width: 100%;
    height: 100vh;
}

header {
    background: #151515;
    color: #eee;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

#container{
    padding: 5px;
    width: 80%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#display{
    padding: 5px;
    width: 70%;
    text-align: center;
    font-size: 1.3em;
}
.btn{
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    border: #151515 1px solid;
    padding: 5px 15px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background: #151515;
    color: #eee;
}

.output-result{
    padding: 10px 0;
    width: 200px;
    text-align: center;
}
.output-result.true{
    background: #4eee4eda;
}
.output-result.false{
    background: #e24747c9;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.link-item a{
    color: #000;
    font-size: 1.1em;
}
.link-item a:hover{
    text-decoration: none;
}
